{% extends "base.html" %}  
{% block main %}  

<div class="container-fluid">
  <div class="row">
      <!-- cctv column -->
      <div class="col-9 g-0">
        <div class="row row-cols-4 g-0">
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed1') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed2') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed3') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed4') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed5') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed5') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed5') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed5') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
          <div class='col-md-4'><img src="{{ url_for('playvid2.video_feed5') }}" height="213.64" width="379.8" class="w-100"
              controls id="cam1" onclick="openFullscreen1();"></div>
        </div>
        <div class="row lineseparator"><hr class="hr"/></div>
        <div class="row CameraOption">
          <!-- Camera Buttons -->
          <div class="d-flex flex-row justify-content-end mb-1">
            <div class="ms-0"><button type="button" class="btn btn-sm" onclick="location.href='/2x2'"><img src="/static/4_black.png" alt="" class="img-logo"></button></div>
            <div class="ms-0"><button type="button" class="btn btn-sm" active onclick="location.href='/3x3'"><img src="/static/9_white.png" alt="" class="img-logo"></button></div>
            <div class="ms-0"><button type="button" class="btn btn-sm" onclick="location.href='/'"><img src="/static/16_black.png" alt="" class="img-logo"></button></div>
          </div>
          <!-- Camera Buttons -->
        </div>
      </div>
      <!-- cctv column -->

      <!-- sidebar column -->
      <div class="col-3 g-0 sidebar ps-3 pt-3">
        <nav id="sidebarMenu" class="d-md-block sidebar collapse navbar-light">
          <div class="position-sticky">
              <!-- sidebar items -->
                <form action="" method="POST">
                  {% for cctv in jinja1 %}
                    <!-- loop 1 -->
                    {% if (loop.index <= 3) and (loop.index == 1)%} 
                      <div class="row row-cols-3 g-0 mb-2 side">
                        {% for button in jinja2%}
                            <div class="col">
                              <div class="btn-group">
                                <select class="dropbtn2" name="wincam{{loop.index}}">
                                  <div class="dropdown-content">
                                      <option value = "cctv_login\templates\no-signal.mp4" selected hidden>CAM</option>
                                      {% for cctv in user_cctv %}
                                      <option value="{{cctv.link_cctv}}">{{cctv.name_cctv}}</option>
                                      {% endfor %}
                                  </div>
                                </select>
                              </div>
                            </div>
                        {% endfor %}
                      </div>
                    <!-- loop 2 -->
                    {% elif (loop.index <= 3) and (loop.index == 2) %}
                        <div class="row row-cols-3 g-0 mb-2 side">
                          {% for button in jinja2%}
                              <div class="col">
                                <div class="btn-group">
                                  <select class="dropbtn2" name="wincam{{loop.index + 3}}">
                                    <div class="dropdown-content">
                                        <option value = "cctv_login\templates\no-signal.mp4" selected hidden>CAM</option>
                                        {% for cctv in user_cctv %}
                                        <option value="{{cctv.link_cctv}}">{{cctv.name_cctv}}</option>
                                        {% endfor %}
                                    </div>
                                  </select>
                                </div>
                              </div>
                          {% endfor %}
                        </div>
                    <!-- loop 3 -->
                    {% elif (loop.index <= 3) and (loop.index == 3) %}
                        <div class="row row-cols-3 g-0 mb-2 side">
                          {% for button in jinja2%}
                              <div class="col">
                                <div class="btn-group">
                                  <select class="dropbtn2" name="wincam{{loop.index + 6}}">
                                    <div class="dropdown-content">
                                        <option value = "C:\Users\Raditya\Desktop\UNSRI\Pertamina\PertaminaProjects\PertaminaFinal\website\static\no-signal.mp4" selected hidden>CAM</option>
                                        {% for cctv in user_cctv %}
                                        <option value="{{cctv.link_cctv}}">{{cctv.name_cctv}}</option>
                                        {% endfor %}
                                    </div>
                                  </select>
                                </div>
                              </div>
                          {% endfor %}
                        </div> 

                    {% endif %}
                  {% endfor %} 
                  <input type="submit" value="Refresh" class="btn btn-primary btn-sm mt-3 submitbutton">
                  <input type="reset" value="Reset" class="btn btn-primary btn-sm mt-3 submitbutton">   
                </form>
                <!-- sidebar items -->
          </div>
        </nav>
      </div>
  </div>
      <!-- sidebar column -->
</div>  

{% endblock %}